nodes.json
[
    {
        "id": "530b5f4a309c5367",
        "type": "tab",
        "label": "CP-02",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95b2e30d4918be89",
        "type": "serial in",
        "z": "530b5f4a309c5367",
        "name": "",
        "serial": "3518382eb6d47323",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "6e6d22eb6a0049c9"
            ]
        ]
    },
    {
        "id": "6e6d22eb6a0049c9",
        "type": "function",
        "z": "530b5f4a309c5367",
        "name": "function 1",
        "func": "// Recebe os dados no formato de string\nlet data = msg.payload;\n\n// Divide a string nas partes de temperatura e umidade\nlet parts = data.split(\", \");\n\n// Extração de temperatura e umidade\nlet temperatura = parseFloat(parts[0].split(\": \")[1]);\n//let umidade = parseFloat(parts[1].split(\": \")[1]);\n\n// Envia os dados como um objeto JSON\nmsg.payload = {\n    temperatura: temperatura\n};\n\n// Define o tópico correto para o Azure IoT Hub\n//msg.topic = \"devices/esp32/messages/events/\"; // Tópico para enviar dados de evento\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "853eda1c0f5bfdec",
                "e562ce0d97cd31fd"
            ]
        ]
    },
    {
        "id": "e562ce0d97cd31fd",
        "type": "debug",
        "z": "530b5f4a309c5367",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "853eda1c0f5bfdec",
        "type": "mqtt out",
        "z": "530b5f4a309c5367",
        "name": "",
        "topic": "esp32/temperatura",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e62690ddc68d8f99",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "6a4e691734635d9b",
        "type": "mqtt in",
        "z": "530b5f4a309c5367",
        "name": "",
        "topic": "esp32/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e62690ddc68d8f99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "7e429fb082645c3f",
                "33ccd7c503b4ee71"
            ]
        ]
    },
    {
        "id": "7e429fb082645c3f",
        "type": "ui_gauge",
        "z": "530b5f4a309c5367",
        "name": "",
        "group": "77aa337cec4d48f3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.temperatura}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "963a77a5a365c3f0",
        "type": "ui_button",
        "z": "530b5f4a309c5367",
        "name": "",
        "group": "77aa337cec4d48f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Ligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "0fac3a6e2936d464",
                "74430f47c4eee6ea"
            ]
        ]
    },
    {
        "id": "a91e66c4334d90f7",
        "type": "ui_button",
        "z": "530b5f4a309c5367",
        "name": "",
        "group": "77aa337cec4d48f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "0fac3a6e2936d464",
                "4fe4edb254f1428d"
            ]
        ]
    },
    {
        "id": "0fac3a6e2936d464",
        "type": "mqtt out",
        "z": "530b5f4a309c5367",
        "name": "",
        "topic": "esp32/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e62690ddc68d8f99",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "74430f47c4eee6ea",
        "type": "debug",
        "z": "530b5f4a309c5367",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "4fe4edb254f1428d",
        "type": "debug",
        "z": "530b5f4a309c5367",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "33ccd7c503b4ee71",
        "type": "function",
        "z": "530b5f4a309c5367",
        "name": "function 2",
        "func": "msg.payload = msg.payload.temperatura; // Altere para o nome da propriedade que contém a temperatura\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "9290528fc319138b"
            ]
        ]
    },
    {
        "id": "9290528fc319138b",
        "type": "ui_chart",
        "z": "530b5f4a309c5367",
        "name": "",
        "group": "db9d81c2d65b12d3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Histórico de Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Temperatura (°C)",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3518382eb6d47323",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "e62690ddc68d8f99",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "77aa337cec4d48f3",
        "type": "ui_group",
        "name": "Dados de Temperatura",
        "tab": "b65ecaa6413acd47",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db9d81c2d65b12d3",
        "type": "ui_group",
        "name": "Histórico",
        "tab": "859a85b188281b78",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b65ecaa6413acd47",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "859a85b188281b78",
        "type": "ui_tab",
        "name": "Gráfico",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]